

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper add-padding">
    <!-- Content Header (Page header) -->
  <div class="content-header clearfix">
<h1 class="pull-left">
Send SMS To Drivers
</h1>
<div class="pull-right">
<button type="submit" name="save" class="btn bg-blue" (click)="sendMessage()" >
<i class="fa fa-floppy-o"></i>
Send
</button>
<!-- <button type="submit" name="save-continue" class="btn bg-blue">
<i class="fa fa-floppy-o"></i>
Save and Continue Edit
</button> -->
</div>
</div>

    <!-- Main content -->
    <section class="content">
      <!-- /.box -->
          <!-- START CUSTOM TABS -->
          <!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <!-- <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">Add Quote</a></li>
            </ul> -->
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
     <div class="row">
            <div class="col-md-7">
         <!-- Horizontal Form -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="des" class="col-sm-2 control-label">Message</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" rows="8" placeholder="Write your message here ..." name="message" [(ngModel)]="message" ></textarea>
                  </div>
                </div>
             </div>
            </form>
          <!-- /.box -->
                </div>
        </div>
          <!-- /.row -->
              </div>
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
      <!-- END CUSTOM TABS -->

     </section>
    <!-- /.content -->
  </div>
  <!-- <app-location-on-map></app-location-on-map> -->
