.popup-inputs {
  width: 73%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
select {
  width: 79%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 18px;
}

// agm-map {
//   border-style: solid;
//   border-width: 5px;
//   border-color:#007872;
//   height: 450px;
//   width: 750px;
//   float:left;
//   margin: auto;
//     }

.map-wrapper{

  // height:-webkit-fill-available;
  padding-left: 30%;
}
.map-container{
  margin: auto;
}
#map {
  height: 500px;
}
#map2 {
  height: 500px;
}
.add-padding{
padding-left: 1%;
padding-right: 1%;
padding-top: 1%;
}
.labels {
  color: red;
  background-color: rgb(255, 0, 0);
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  width: 100px;
  border: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

// .pac-card {
//   margin: 10px 10px 0 0;
//   border-radius: 2px 0 0 2px;
//   box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   outline: none;
//   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
//   background-color: #fff;
//   font-family: Roboto;
// }

// #pac-container {
//   padding-bottom: 12px;
//   margin-right: 12px;
// }

// .pac-controls {
//   display: inline-block;
//   padding: 5px 11px;
// }

// .pac-controls label {
//   font-family: Roboto;
//   font-size: 13px;
//   font-weight: 300;
// }

// #pac-input {
//   background-color: #fff;
//   font-family: Roboto;
//   font-size: 15px;
//   font-weight: 300;
//   margin-left: 12px;
//   padding: 0 11px 0 13px;
//   text-overflow: ellipsis;
//   width: 100%;
// }

// #pac-input:focus {
//   border-color: #4d90fe;
// }

// #title {
//   color: #fff;
//   background-color: #4d90fe;
//   font-size: 25px;
//   font-weight: 500;
//   padding: 6px 12px;
// }
#target {
  width: 345px;
}
