<div class="content-wrapper add-padding">
    <div class="content-header clearfix">
    <h2 class="pull-left" style="color:#232f3e; ">
    Add Stop
    </h2>
    <div class="pull-right">

        <button type="submit" name="save-continue" class="btn bg-blue" routerLink="/shifts" routerLinkActive="active" >
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Back
        </button>
        </div>
    </div>
    <!-- <input id="pac-input" class="controls" type="text" placeholder="Search Box"> -->
    <div id="map" class="google-map"></div>
  </div>
